.combo-box .list-view .list-cell:hover {
  -fx-border-color: black;
}

.combo-box .increment-arrow, .combo-box .decrement-arrow {
  -fx-background-color: #2e3033; /* Цвет стрелочек у ползунка ползунка */
  -fx-border-width: 1px;
}

.combo-box .thumb {
  -fx-background-color: #2e3033;
}

.combo-box .track {
  -fx-background-color: transparent;
  -fx-opacity: 0;
}

.combo-box {
  -fx-background-color: #2e3033;
  -fx-border-color: black;
  -fx-border-width: 3px;
  -fx-border-radius: 5px;
  -fx-padding: 5px;
  -fx-text-fill: black;
}

.combo-box .arrow-button {
  -fx-background-color: transparent;
}

.combo-box .arrow-button .arrow {
  -fx-background-color: #2e3033;
  -fx-shape: "M 0 0 L 4 5 L 8 0 Z";
  -fx-translate-x: -2px;
  -fx-translate-y: 1px;
  -fx-transition: transform 0.3s ease-in-out;
}

.combo-box .list-view {
  -fx-background-color: #2e3033;
  -fx-border-width: 3px;
  -fx-border-color: black;
  -fx-border-radius: 5px;
}

.combo-box .list-cell {
  -fx-text-fill: #6e7b7d;
  -fx-font-family: "Comic Sans MS";
  -fx-font-weight: bold;
  -fx-font-size: 12;
}

.combo-box .list-view .list-cell {
  -fx-padding: 5px;
  -fx-background-color: #2e3033;
}

.combo-box .scroll-pane {
  -fx-background-color: transparent;
}

/* Стилизация вертикального скроллбара */
.combo-box .scroll-bar {
  -fx-background-color: #2e3033; /* Цвет фона скроллбара */
  -fx-background-insets:  0; /* Отступы фона */
  -fx-background-radius:  0; /* Радиус скругления фона */
  -fx-thumb-insets:  0; /* Отступы ползунка */
}

.combo-box .thumb {
  -fx-background-color: #6e7b7d;
}